@font-face {
    font-family: Karla;
    src: url('/karla.regular.ttf')
}

body {
    background-color: #1F2937;
    color: white;
    margin-top: 64px;
    margin-left: 64px;
}

.container {
    display: flex;
}

.passwordBox {
    background-color: #273549;
    width: 211px;
    height: 39px;
    margin-right: 29px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 39px;
    color: #55F991;
    border-radius: 6px;
    font-size: 16px;
}

.h1-highlight {
    color: #4ADF86;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    width: 300px;
    height: 80px;
    margin-top: 115px;
    
    font-family: Karla, sans-serif;
    letter-spacing: -2.5px;
}

h4 {
    color: #D5D4D8;
    font-weight: 400;
    width: 372px;
    height: 28px;
    font-size: 20px;
    line-height: 0px;
}

button {
    background-color: #10B981;
    border: none;
    border-radius: 6px;
    width: 191px;
    height: 42px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 17px;
    padding-left: 15px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

hr {
    border-color: rgba(169, 169, 169, 0.421);
    width: 446px;
    margin-left: 0px;
    margin-top: 40px;
}